In [2]:
import pandas as pd
import re

In [3]:
# # 경제
# tmp1 = pd.read_csv('./teample_1_result/segye_economy_commonword_(2018.01.01 - 2018.03.31).csv', sep=(','), encoding='utf-8')
# tmp2 = pd.read_csv('./teample_1_result/segye_economy_commonword_(2018.04.01 - 2018.06.30).csv', sep=(','), encoding ='utf-8')
# tmp3 = pd.read_csv('./teample_1_result/segye_economy_commonword_(2018.07.01 - 2018.09.30).csv', sep=(','), encoding='utf-8')
# tmp4 = pd.read_csv('./teample_1_result/segye_economy_commonword_(2018.10.01 - 2018.11.15).csv', sep=(','), encoding='utf-8')


# # 사회
# tmp1 = pd.read_csv('./teample_1_result/segye_society_commonword_(2018.01.01 - 2018.03.31).csv', sep=(','), encoding='utf-8')
# tmp2 = pd.read_csv('./teample_1_result/segye_society_commonword_(2018.04.01 - 2018.06.30).csv', sep=(','), encoding ='utf-8')
# tmp3 = pd.read_csv('./teample_1_result/segye_society_commonword_(2018.07.01 - 2018.09.30).csv', sep=(','), encoding='utf-8')
# tmp4 = pd.read_csv('./teample_1_result/segye_society_commonword_(2018.10.01 - 2018.11.15).csv', sep=(','), encoding='utf-8')


# 전체 분야 뽑기
tmp1 = pd.read_csv('./teample_1_result/all_economy_commonword_freq_sorted_df.csv', sep=(','), encoding='utf-8')
tmp2 = pd.read_csv('./teample_1_result/all_politics_commonword_freq_sorted_df.csv', sep=(','), encoding ='utf-8')
tmp3 = pd.read_csv('./teample_1_result/all_society_commonword_freq_sorted_df.csv', sep=(','), encoding='utf-8')
# tmp4 = pd.read_csv('./teample_1_result/segye_politics_commonword_(2018.10.01 - 2018.11.15).csv', sep=(','), encoding='utf-8')

#### 데이터프레임화

In [4]:
tmp1_df = pd.DataFrame(tmp1)
tmp2_df = pd.DataFrame(tmp2)
tmp3_df = pd.DataFrame(tmp3)
# tmp4_df = pd.DataFrame(tmp4)

In [8]:
tmp3_df.head()

   Unnamed: 0 단어명  조선일보  한겨레  세계일보  총빈도수
0           0  수사   428  337   638  1403
1           1  의혹   405  346   560  1311
2           3  혐의   347  229   470  1046
3          10  조사   249  265   512  1026
4          14  여성   217  204   455   876

#### 불필요한 열 제거

In [9]:
tmp1_df.drop('Unnamed: 0',axis=1, inplace=True)
tmp1_df.drop('조선일보',axis=1, inplace=True)
tmp1_df.drop('한겨레',axis=1, inplace=True)
tmp1_df.drop('세계일보',axis=1, inplace=True)
# tmp1_df.drop('',axis=1, inplace=True)

tmp2_df.drop('Unnamed: 0',axis=1, inplace=True)
tmp2_df.drop('세계빈도수',axis=1, inplace=True)
tmp2_df.drop('조선빈도수',axis=1, inplace=True)
tmp2_df.drop('한겨레빈도수',axis=1, inplace=True)
# tmp2_df.drop('정치4분기빈도수',axis=1, inplace=True)

tmp3_df.drop('Unnamed: 0',axis=1, inplace=True)
tmp3_df.drop('조선일보',axis=1, inplace=True)
tmp3_df.drop('한겨레',axis=1, inplace=True)
tmp3_df.drop('세계일보',axis=1, inplace=True)
# tmp3_df.drop('정치4분기빈도수',axis=1, inplace=True)

In [14]:
tmp3_df.head()

  단어명  총빈도수
0  수사  1403
1  의혹  1311
2  혐의  1046
3  조사  1026
4  여성   876

#### 컬럼 명 변경

In [15]:
# # 경제
# tmp1_df.rename(columns={'단어명':'단어명', '빈도수':'경제1분기빈도수'}, inplace=True)
# tmp2_df.rename(columns={'단어명':'단어명', '빈도수':'경제2분기빈도수'}, inplace=True)
# tmp3_df.rename(columns={'단어명':'단어명', '빈도수':'경제3분기빈도수'}, inplace=True)
# tmp4_df.rename(columns={'단어명':'단어명', '빈도수':'경제4분기빈도수'}, inplace=True)

# # 사회
# tmp1_df.rename(columns={'단어명':'단어명', '빈도수':'사회1분기빈도수'}, inplace=True)
# tmp2_df.rename(columns={'단어명':'단어명', '빈도수':'사회2분기빈도수'}, inplace=True)
# tmp3_df.rename(columns={'단어명':'단어명', '빈도수':'사회3분기빈도수'}, inplace=True)
# tmp4_df.rename(columns={'단어명':'단어명', '빈도수':'사회4분기빈도수'}, inplace=True)



# 전체 데이터프레임 컬럼명 바꾸기
tmp1_df.rename(columns={'단어명':'단어명', '총빈도수':'경제총빈도수'}, inplace=True)
tmp2_df.rename(columns={'단어명':'단어명', '총빈도수':'정치총빈도수'}, inplace=True)
tmp3_df.rename(columns={'단어명':'단어명', '총빈도수':'사회총빈도수'}, inplace=True)
# tmp4_df.rename(columns={'단어명':'단어명', '빈도수':'정치4분기빈도수'}, inplace=True)

#### '단어명' 기준으로 병합

In [16]:
from functools import reduce
import pandas as pd
dfs = [tmp1_df, tmp2_df, tmp3_df]
word_freq = reduce(lambda left, right: pd.merge(left, right, on='단어명'), dfs)

In [17]:
word_freq[:10]

  단어명  경제총빈도수  정치총빈도수  사회총빈도수
0  삼성    2058      80     398
1  금융    1316      19      49
2  시장     973     109     183
3  증가     905      26      93
4  사업     901      76     211
5  지원     817     237     310
6  경제     792     384      81
7  산업     737      52      94
8  인상     674      86     111
9  해외     633      75     131

In [18]:
# # 경제
# word_freq['총빈도수'] = word_freq['경제1분기빈도수'] + word_freq['경제2분기빈도수'] + word_freq['경제3분기빈도수'] + word_freq['경제4분기빈도수']

# # 사회
# word_freq['총빈도수'] = word_freq['사회1분기빈도수'] + word_freq['사회2분기빈도수'] + word_freq['사회3분기빈도수'] + word_freq['사회4분기빈도수']


# 전체 총 빈도수 열 만들기
word_freq['총빈도수'] = word_freq['경제총빈도수'] + word_freq['정치총빈도수'] + word_freq['사회총빈도수']

In [19]:
word_freq = word_freq.sort_values('총빈도수', ascending=False)

In [20]:
word_freq

      단어명  경제총빈도수  정치총빈도수  사회총빈도수  총빈도수
0      삼성    2058      80     398  2536
138    의혹     145     402    1311  1858
235    수사      81     366    1403  1850
33     논란     403     390     813  1606
50     조사     308     259    1026  1593
22     인사     479     280     718  1477
1      금융    1316      19      49  1384
5      지원     817     237     310  1364
2      시장     973     109     183  1265
190    혐의     103     116    1046  1265
6      경제     792     384      81  1257
4      사업     901      76     211  1188
16     공개     535     215     407  1157
144    여성     136     106     876  1118
11     최고     598     149     317  1064
291    구속      52     125     851  1028
10   최저임금     616     174     236  1026
3      증가     905      26      93  1024
216    국회      89     790     138  1017
86     국민     218     449     327   994
340    사건      28     162     788   978
38     단독     377     151     408   936
39     직원     374      66     468   908
15     확대     538     117     239   894
24     채용     475      78     338   891
23     개최     476     180     231   887
7      산업     737      52      94   883
83     피해     224      64     590   878
8      인상     674      86     111   871
301    법원      48      67     750   865
..    ...     ...     ...     ...   ...
308    배제      46      32      48   126
354    의미      16      73      35   124
245    비율      77      10      37   124
252    공정      71      21      31   123
342    무슨      27      33      63   123
316    불가      41      43      33   117
328   지자체      37      26      53   116
348    불참      22      61      33   116
289    여전      54      13      48   115
337    꼼수      31      33      49   113
283    발굴      56      30      24   110
326    경험      37      17      55   109
302    폭풍      48      35      26   109
339    공감      29      51      29   109
350    강행      21      58      29   108
258    대폭      70      21      17   108
333    완전      34      39      32   105
324    방향      38      35      31   104
320    직무      39      23      36    98
351    방침      21      26      51    98
292    대치      52      22      20    94
327    시급      37      17      39    93
335    총력      32      35      24    91
346    전격      24      40      22    86
321    발목      39      23      23    85
347    교환      24      37      13    74
325    극복      38      17      19    74
352    대처      19      22      32    73
353    신속      17      20      21    58
356   대국민      11      16      13    40

[357 rows x 5 columns]

In [21]:
# # 경제
# word_freq.to_csv('./teample_1_result/segye_economy_commonword_freq_sorted_df.csv', sep=(','), encoding='utf-8')

# # 사회
# word_freq.to_csv('./teample_1_result/segye_society_commonword_freq_sorted_df.csv', sep=(','), encoding='utf-8')

# 전체 총 빈도수 저장하기
word_freq.to_csv('./teample_1_result/all_every_commonword_freq_sorted_df.csv', sep=(','), encoding='utf-8')